---
//@ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Bottom_arrow from "../../components/Bottom_arrow.astro";

export async function getStaticPaths() {
  const products = await fetch(
    "https://eiritvqzdghcofdqqljs.supabase.co/rest/v1/products",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcml0dnF6ZGdoY29mZHFxbGpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNTEwMTgsImV4cCI6MjA0ODcyNzAxOH0.YUeY669t8fomqyHGhIGwyU-PBt5SvU9tv3CCcmlHUJQ",
      },
    }
  ).then((res) => res.json());

  // Log produkter for at kontrollere strukturen
  console.log("Fetched products:", products);

  return products.map((product) => ({
    params: { product: product.slug }, // [product]=product.slug
    props: { myData: product }, // send al data med som props
  }));
}

const { myData } = Astro.props;
console.log(myData); // product.name, product.image osv.
---

<!-- Matilde -->
<MainLayout>
  <main>
    <div class="breadcrumb">
      <a href="/products">
        <img class="arrow" src="/svg/arrowleft.svg" alt="" />
      </a>
      <a href="/products">Produkter&nbsp;/&nbsp;</a>
      <p>{myData.category}&nbsp;/&nbsp;</p>
      <p>{myData.product_name}</p>
    </div>
    <div class="border">
      <div class="product_container">
        <div>
          <img src={"/img/products/" + myData.img} alt="Produkt billede" />
        </div>
        <div>
          <h1>{myData.product_name}</h1>
          <div class="product_info">
            <p>Information om produktet</p>
            <p>{myData.info}</p>
          </div>
          <div class="price">
            <p>Pris: {myData.price}kr</p>
          </div>
          <div class="buy_in_salon">
            <p>Kan købes i salonen</p>
          </div>
        </div>
      </div>
    </div>
    <section>
      <Bottom_arrow />
    </section>
  </main>
</MainLayout>

<style>
  @font-face {
    font-family: "georama_regular";
    src:
      url("/fonts/georama_regular/georama-regular-webfont.woff2")
        format("woff2"),
      url("/fonts/georama_regular/georama-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "georama_regular_italic";
    src:
      url("/fonts/georama_regular_italic/georama-italic-webfont.woff2")
        format("woff2"),
      url("/fonts/georama_regular_italic/georama-italic-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neuton_regular";
    src:
      url("/fonts/neuton/neuton-regular-webfont.woff2") format("woff2"),
      url("/fonts/neuton/neuton-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  main {
    margin: 5rem auto;
  }

  .breadcrumb {
    display: flex;
    text-decoration: underline;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
  }

  .arrow {
    width: 50px;
  }


  .border {
    border: 4px solid var(--secondary);
    border-radius: 50px;
    background-color: var(--primary);
    padding: 3rem;
    margin: 2rem;
  }

  h1 {
    margin-bottom: 1rem;
    padding: 0;
  }

  p {
    text-align: left;
  }

  .product_info p {
    margin-bottom: 1rem;
  }

  .product_info,
  .price,
  .buy_in_salon {
    margin-bottom: 3rem;
  }

  img {
    width: 246px;
    height: auto;
  }

  @media (min-width: 800px) {
    .product_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .border {
      padding: 5rem;
    }

    h1 {
      text-align: left;
    }

    img {
      width: 426px;
      height: auto;
    }
    .arrow{
      transition: transform 0.3s ease;
    }
    .arrow:hover {
    transform: scale(1.05);
    }
  }
</style>
